.a, .b, .c, .d{
    border: 2px none black; 
    border-spacing: 100sspx;
    width: 100px;
    height: 100px; 

}
.a{
background-color: green;

}
.b{
    -webkit-border-radius: 7px;
border-radius: 7px;
background-color: red;

}
.c{
    -webkit-border-radius: 0px 10px 0px 10px;
border-radius: 0px 10px 0px 10px;
background-color: yellow;
}
.d{
    -webkit-border-radius: 10px 0px 10px 0px;
border-radius: 10px 0px 10px 0px;
background-color: blue;
}
.e{
    border: 2px none black;
    width: 20px;
    height: 20px;

    background-color: blue;
    -webkit-border-radius: 8px;
border-radius: 8px;
width: 50px;
height: 20px;
padding: 15px;
margin-top: -60px;

;
}
.f{
    padding: 50px;
    margin: 50px;
    border: 2px none black;
    -webkit-border-radius: 100%;
border-radius: 100%;
height: 100px;
width: 100px;
background-color: yellow;

}
.R, .G, .B, .Y{
    border: 2px none black;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 100%;

padding: 10px;
margin: 10px;
vertical-align: bottom;

}
.Y{
    color: yellow;
    background-color: yellow;
}
.B{
    color: blue;
    background-color: blue;
}
.G{
    background-color: green;
    color: green;
}
.R{
    color: red;
    background-color: red;
}
.g{
    width: autos;
    margin: px;

}
.ef{
    padding: 50px;
    text-align: center;
    border: 2px none black;
   
   background-color: red;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   margin-bottom: -20px;
  
}
.T{
    border: 2px none black;
    padding: 10px;
    margin-bottom: -100px;
}
.h, .yo{
    border: 2px none black;
    width: 30px;
    height: 30px;
 
}
.yo{
  
    background-color: green;
    margin-left: 5px;

}
.h{
    background-color: red;
    position: relative;                              
    color: red;
    
}
.po {
margin-left: 50px;
    border: 2px none black;
    width: 30px;
    height: 30px;
    background-color: blue;
    margin-bottom:px;
}

